* {
    margin: 0px;
    padding: 0px;
    /*tarayıcının varsayılan olarak contend box verdiği box sizing'i border box yaptık bu demek oluyor ki
    biz sayfada bir etiket oluşturduğumuzda ve bu etikete padding ve border verdiğimizde sayfada büyümüyor 
    etikete verdiğimiz genişlik kadar oluyor margin için geçerli değil. etikete margin verdiğimizde genişliğin üzerine verilen margin
    değeri kadar genişlik ekleniyor. box sizing content box olduğu zaman etiketin genişliği üzerine her border padding ve 
    margin değeri ekleniyor.*/
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 135%;
}

#general_header {
    background-image: url(image/backgroun.jpg);
    height: 1300px;
    background-size: cover;
    background-position: top;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500px;
}


/*CONTEİNER*/

.container {
    width: 1250px;
    /* sayfaya üstten ve alttan 20px boşluk verdik ve sağdan ve soldanda ortaladık.*/
    margin: 0px auto;
}


/*BLOG POST CONTAİNER*/

#blog-post-container {
    width: 75%;
    float: left;
}

.box {
    background-color: white;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 2px rgb(20, 23, 28, .15);
}

.p20 {
    padding: 20px;
}

.mt20 {
    margin-top: 20px;
}

.blog-posts {
    position: relative;
}

.blog-posts img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: opacity 0.3s linear;
}

.blog-posts img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.blog-title {
    font-weight: 700px;
}

.blog-title a {
    color: #444;
    text-decoration: none;
    transition: all 0.3s;
}

.blog-title a:hover {
    color: #da4454;
}

.blog-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #aaa;
    line-height: 22px;
    /* textleri sağa ve sola yaslar*/
    text-align: justify;
}

.date {
    position: absolute;
    right: 20px;
    bottom: 25px;
    color: #aaa;
    font-size: 14px;
}

.tags li {
    list-style-type: none;
    display: inline;
    margin-right: 9px;
}

.tags li a {
    text-decoration: none;
}

.for-border-line p {
    border-bottom: 1px solid RGB(0, 0, 0, .125);
    padding-bottom: 10px;
}

.tag {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    font-size: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #da4454;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s linear;
}

.btn:hover {
    background-color: #363636;
    border-color: #363636;
}


/*OTHER*/

#other {
    width: 25%;
    float: left;
    padding-left: 19px;
    /*position: fixed;
    top: 65px;
    right: 70px;*/
}

#inner-other-post {
    top: 20px;
}


/*SHARE*/

#share a {
    color: gray;
    text-decoration: none;
    margin-right: 12px;
    opacity: 0.9;
    transition: opacity 0.3s linear;
}

#share a:hover {
    opacity: 0.6;
}

#inner-other-post ul {
    list-style-type: none;
}

#inner-other-post ul li {
    margin-bottom: 10px;
}

.header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}


/*INFORMATİON ZONE*/

#author-information {
    border-top: 1px solid RGB(0, 0, 0, .125);
    padding-top: 10px;
}

#author-information img {
    border-radius: 50%;
    float: left;
}

.author-text {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}


/*NAV-BAR*/

#nav {
    background-color: RGB(60, 60, 60, .70);
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

#nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #da4453;
}